---
ip: "192.168.10.10"
memory: 2048
cpus: 2
hostname: catalogger
name: catalogger
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
#   --Windows Settings--
#    - map: "D:/PHP/Symfony/catalogger"
#  --MAC Settings--
    - map: "/Volumes/ExternalSD/Code/PHP/catalogger"
      to: "/home/vagrant/catalogger"
sites:
    - map: catalogger.app
      to: "/home/vagrant/catalogger/web"
      type: symfony

databases:
    - Catalogger

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
